.presentacion{
    font-size: 3vw;
    color: black;
    
}

.flex-main{
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contenedor-main{
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width: 600px){
    .presentacion{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .contenedor-main{
        display: flex;
        flex-direction: column;
    }
    .contenedor-main div img{
        width: 300px;
        height: 200px;
    }
}

.flex-main div{
    font-style: italic;
    color: white;

}
pre{
    color: #84B026;
    /* background-color: white; */
    letter-spacing: 1px;
    padding-right: 40px;
}
